@import variables
@import mixins

header
  display: flex
  flex-wrap: wrap
  padding-left:  10px
  padding-right:  10px
  background-color: rgba(57,89,152,1)

  .title-container
    flex: 1
    min-width: 300px
    display: flex
    @include xs-device
      order: 3

  .board-selector-container
    min-width: 320px
    display: flex
    align-items: center
    @include xs-device
      order: 2
      min-width: 300px
      input[type=text]
        max-width: 280px

  .menus-container
    min-width: 120px
    max-height: 30px
    display: flex
    align-items: center
    justify-content: space-around
    border: 1px solid #ddd
    border-radius: 5px
    @include xs-device
      order: 1
      margin-bottom: 5px
      margin-left: auto

  h1
    font-size: size('title')
    color:  color(primary2)
    text-align: center
    width: 60%
    margin: auto
    .tooltip
      opacity: 0.3
      font-size: size('tiny')

a i.web-notification-icon
  color: link-color('primary')
  &:focus, &:hover
    color: color('dark')
