@import variables
@import mixins

.project-header,  .page-header
  display: flex
  flex-wrap: wrap
  margin-bottom: 0px
.project-header
  background-color: bg-color('projectheader')
  flex-direction: row-reverse
  flex-wrap: wrap
  .dropdown-component
    padding: 4px 8px
    border: 1px solid #ddd
    border-radius: 5px
    margin-right: 5px
    background-color: #fafafa

    @include sm-device
      float: none

  .views-switcher-component
    margin-top: 0px

    @include sm-device
      float: none
      margin-bottom: 10px

  .filter-box-component
    margin: auto
    form
      margin: 0
